@font-face {
  src: url("./assets/ethnocentric\ rg.otf");
  font-family: "ethno";
}

@font-face {
  src: url("./assets/pixel\ font-7.ttf");
  font-family: "standard";
}

@font-face {
  src: url("./assets/neon_pixel-7.ttf");
  font-family: "neon";
}

@font-face {
  src: url("./assets/as.ttf");
  font-family: "as";
}

@font-face {
  src: url("./assets/Exo-Regular.otf");
  font-family: "exo";
}

@font-face {
  src: url("./assets/Cantarell-Regular.ttf");
  font-family: "cant";
}

body {
  background-color: #02010a;
}

.spacebg,
.spacebg2,
.spacebg3,
.spacebg4 {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -99;
  mix-blend-mode: screen;
  opacity: 0.5;
}

.spacebg {
  box-shadow: 0 0 300px #10002b inset;
  background: url("./assets/space_bg.gif");
}

.spacebg2 {
  box-shadow: 0 0 150px #7b2cbf inset;
  background: url("./assets/space_bg2.gif");
}

.spacebg3 {
  opacity: 0.25;
  box-shadow: 0 0 60px #9d4edd inset;
  background: url("./assets/spacebackground.gif");
}

.spacebg4 {
  opacity: 0.15;
  background: url("./assets/4cbe8d_f1ed2800a49649848102c68fc5a66e53mv2.webp");
  background-position: center;
}

@keyframes backgroundScroll {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px -400px;
  }
}

@keyframes backgroundScroll2 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px -430px;
  }
}

@keyframes backgroundScroll3 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px -500px;
  }
}

main {
  animation: fadeIn 1.5s ease-in-out;
  overflow-y: auto;
}

section {
  margin: 1rem;
  border-radius: 26px;
  padding: 1.75rem;
  color: white;
}

section {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mainheader h1 {
  text-align: center;
  font-family: neon;
  letter-spacing: 2px;
  font-size: 4.25rem;
  background-image: linear-gradient(
    45deg,
    #ffadad,
    #ffd6a5,
    #fdffb6,
    #caffbf,
    #9bf6ff,
    #a0c4ff,
    #bdb2ff,
    #ffc6ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbowText 5s linear infinite; /* Adjusted animation duration */
  font-weight: 500;
  margin-top: 1rem;
}

.content h2 {
  font-family: neon;
  letter-spacing: 2px;
  font-size: 2.5rem;
  background-image: linear-gradient(
    45deg,
    #ffadad,
    #ffd6a5,
    #fdffb6,
    #caffbf,
    #9bf6ff,
    #a0c4ff,
    #bdb2ff,
    #ffc6ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbowText 5s linear infinite; /* Adjusted animation duration */
  font-weight: 500;
  margin-top: 1rem;
}

.content h3 {
  font-family: exo;
  text-transform: none;
  letter-spacing: 2px;
  font-size: 1.45rem;
  background-image: linear-gradient(
    45deg,
    #ffadad,
    #ffd6a5,
    #fdffb6,
    #caffbf,
    #9bf6ff,
    #a0c4ff,
    #bdb2ff,
    #ffc6ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbowText 5s linear infinite; /* Adjusted animation duration */
  font-weight: 500;
  margin-top: 1rem;
}
@keyframes rainbowText {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.mainheader p {
  text-align: center;
  font-size: 1.35rem;
  font-family: standard;
}

.content p,
.content a,
.wrapper p,
.wrapper a {
  font-size: 1.35rem;
  font-family: exo;
  margin: 1rem 0;
}

.marquee {
  height: 50px;
  overflow: hidden;
  position: relative;
  color: #d8e2dc;
  border: 3px dashed #d8e2dc;
}

.marquee p {
  position: absolute;
  width: 100%;
  font-family: standard;
  font-size: 1.5rem;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(79%);
  }
  100% {
    transform: translateX(-75%);
  }
}

.navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.navbar a {
  font-family: ethno;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.wrapper {
  display: flex;
}

.left {
  width: 20%;
}
.right {
  height: 0%;
  width: 80%;
}

.wrapper h1,
.content h1 {
  font-family: neon;
  letter-spacing: 2px;
  font-size: 3rem;
  font-weight: 100;
  background-image: linear-gradient(
    45deg,
    #ffadad,
    #ffd6a5,
    #fdffb6,
    #caffbf,
    #9bf6ff,
    #a0c4ff,
    #bdb2ff,
    #ffc6ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbowText 5s linear infinite; /* Adjusted animation duration */
  font-weight: 500;
}

@keyframes rainbowText {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

section li {
  font-family: exo;
  font-size: 1.25rem;
  line-height: 1.5;
}

.wrapper li {
  list-style-image: url("./assets/heart21.gif");
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.content a,
.wrapper a {
  color: #ff10f0;
  text-decoration: none;
}

@media (max-width: 1290px) {
  .wrapper {
    display: block;
  }

  .left {
    width: auto;
  }
  .right {
    width: auto;
  }
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #7161ef; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #dec0f1; /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #f5efff; /* Color of the scrollbar thumb when hovered */
}
