@font-face {
  font-family: "Abel";
  src: url("/fonts/Abel-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alagard";
  src: url("/fonts/alagard.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BirchLeaf";
  src: url("/fonts/BirchLeaf.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cute Notes";
  src: url("/fonts/Cute%20Notes.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Iosevka Nerd Font";
  src: url("/fonts/IosevkaNerdFont-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Moonstar";
  src: url("/fonts/Moonstar.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rainyhearts";
  src: url("/fonts/rainyhearts.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sabrinas";
  src: url("/fonts/SABRINAS.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Smalle";
  src: url("/fonts/smalle.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VCR OSD Mono";
  src: url("/fonts/VCR_OSD_MONO_1.001.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-body: "Abel", verdana, sans-serif;
  --font-display: "VCR OSD Mono", "Iosevka Nerd Font", monospace;
  --font-mono: "Iosevka Nerd Font", ui-monospace, "Liberation Mono", monospace;
}
